extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        | Churcharoundme was created to help people find nearby churches for Sunday or mid-week service.
